<html>

<head>
    <title>Clinician Registration</title>
    <link rel="stylesheet" href="css/signupmods.css">
    <link href="fonts/avenir-next-lt-pro/fontstyle.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
</head>

<body ng-app="angularApp">

    <form name="signUpForm"ng-controller="signupController" autocomplete="off">
        <img src="images/Brand_MainLogo_Circle.png" width=180px>
        <span>

  <h2>SIGN UP</h2>
  <br>

  <label for="address">Your Profile</label>
  <div class="input-group">
    <input id="name" ng-model="user.name" type="text" name="name">
    <label for="name" ng-class="{ 'active': user.name != '' }" >Name</label>
  </div>
  <div class="input-group">
    <input id="email" ng-model="user.email" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" type="email" name="email">
    <label for="email"ng-class="{ 'active': user.email != '' , 'error': signUpForm.email.$error.email}" >Email
      <span style="letter-spacing: 2px;color:#d9404b;text-transform:none;padding-left:10px"
            ng-show="signUpForm.email.$error.email">Please enter a valid email.
      </span>
    </label>
  </div>
  <div class="input-group">
    <input id="password" ng-model="user.password"type="password" name="password">
    <label for="password"ng-class="{ 'active': user.password != '' }" >Password</label>
  </div>
  <div class="input-group">
    <input id="rep-password" ng-model="user.repPassword"type="password" name="rep-password">
    <label for="rep-password"ng-class="{ 'active': user.repPassword != '' }" >Repeat Password</label>
  </div>
  <label for="phone"class="phoneLabel"ng-class="{ 'phoneLabelActive': user.phone != '' , 'phoneLabelError': signUpForm.phone.$error.phone}" >Phone</label>
  <input type="text" ng-model="user.phone"id="phone-input" ng-model-options="{ updateOn: 'blur' }"class="m-input"ng-focus="focusing()"ng-change="test()"name="phone" phone>
  <div style="font-size:.8em;letter-spacing: 2px;color:#BDC3C7;text-transform:none;"
        ng-show="signUpForm.phone.$pending.phone">Validating phone number.
  </div>
  <div style="font-size:.8em;letter-spacing: 2px;color:#d9404b;text-transform:none;"
        ng-show="signUpForm.phone.$error.phone">Please enter a valid phone number.
  </div>



  <br>

  <label for="address">Organization Info</label>
  <div class="input-group">
    <input type="text" id="org-name" ng-model="user.orgName"class="m-input"></input>
    <label for="org-name"ng-class="{ 'active': user.orgName != '' }">Organization Name</label>
    <!--<input id="address" type="text" name="address">-->
  </div>
  <div class="input-group">
    <input type="text" id="street" ng-model="user.csc"class="m-input"></input>
    <label for="csc-input"ng-class="{ 'active': user.csc != '' }">Street Address</label>
    <!--<input id="address" type="text" name="address">-->
  </div>


    <div class="input-group">
      <input type="text" id="csc" class="m-input"></input>
      <label for="csc-input">City, State</label>
    </div>

  <div class="input-group">
    <input id="zip" type="zip-input" name="zip">
    <label for="zip-input">Zip</label>
  </div>


  <br>
  <input id="button" ng-click="submit(user)"  type="submit" value="Submit" >
  <a href="#">Cancel</a>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>
